<div class="card">
    <div class="card-image">
        <img src="{{imgUrl}}" alt="{{title}}" />
    </div>
    <div class="card-header">{{title}}</div>
    <div class="card-content">{{description}}</div>
    <button class="card-action">{{price}}</button>
</div>