<section class="hero-panel large">
    <picture>
        <source srcset="{{imgDesktop}}" media="(min-width:1025px)" />
        <source srcset="{{imgTablet}}" media="(min-width:720)" />
        <img class="full-image" src="{{imgMobile}}" alt="{{imgAlt}}" />
    </picture>
    <section class="hero-action">
        <div class="title">
            {{titulo}}
        </div>
        <div class="content">
            {{descripcion}}
        </div>
        <button class="action-button">
            {{accion}}
        </button>
    </section>
</section>